{{ define "main" }} {{ partial "hero.html" . }}

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-SKVX2E8KMF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-SKVX2E8KMF");
</script>

<div class="container">
  <div class="row animate">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }} {{
    range $paginator.Pages }} {{ partial "article-content.html" . }} {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }} {{ partial "section-tags.html" . }} {{ end }}
