{{ define "main" }} {{ partial "hero.html" . }}

<div class="container">
  <div class="row animate">
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FTZS9NHDP6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FTZS9NHDP6");
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FTZS9NHDP6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FTZS9NHDP6");
    </script>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }} {{
    range $paginator.Pages }} {{ partial "article-content.html" . }} {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }} {{ partial "section-tags.html" . }} {{ end }}
